body {
    font-family: "Source Sans 3";
    color: #323232;
}

.content {
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    justify-content: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.full {
    min-height: 100vh;
    background: #FFFFFF;
}

.bg-img {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
        url(../images/PalomaRincon.jpg);
    background-size: cover;
}

.logo-wrapper {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.75rem;

    color: #f4f4f4;
    font-weight: 300;
    font-size: 1.25rem;
}

.logo-wrapper img {
    height: 2.5rem;
}

.form-wrapper {
    display: flex;
    flex-direction: column;

    background-color: #FFFFFF;

    box-sizing: border-box;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    width: 100%;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.form-logo {
    filter: brightness(0);
    height: 18px;
}

.form-title {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 1.2em;
    margin-bottom: 0.5rem;
}

.form-new-user {
    font-weight: 400;
    line-height: 1.5;

    margin-bottom: 2rem;
}

.form-new-user a,
.form-actions a,
.sign-in-help a {
    color: #1473e6;
    text-decoration: none;
}

.form-new-user a:hover,
.form-actions a:hover,
.sign-in-help a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 0.75rem;
    color: #272727;
}

.form-group input {
    font-size: 1.25rem;
    border: none;
    border-bottom: 1px solid #eaeaea;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 1px 0 transparent;
    outline: none;
}

.form-group input:focus {
    border-color: #1473e6;
}

.form-group .form-validation:not(.show){
    display: none;
}

.form-group .form-validation {
    color: #9c0000;
    font-weight: 700;
    font-size: 0.85rem;
    padding-top: 3px;
}

.form-email {
    margin-bottom: 21px;
}

.form-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.form-actions a {
    font-size: 0.75rem;
}

.form-actions button {
    padding: 0.25rem 0.75rem;
    border: none;
    border-radius: 40px;
    color: #FFFFFF;
    background-color: #1473e6;
    font-weight: 700;
    height: 2rem;
}

.form-sepparator {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 300;
    color: #4b4b4b;
    margin-bottom: 1.5rem;
}

.form-sepparator::before,
.form-sepparator::after {
    display: block;
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: #eaeaea;
}

.social-login-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.social-login-wrapper .social-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 700;
    padding: 1rem;
    color: #505050;
    border: 2px solid #eaeaea;
    border-radius: 60px;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}

.social-login-wrapper .social-login:hover{
    cursor: pointer;
    color: #323232;
    border-color: #d3d3d3;
}

.social-login-wrapper .social-login:active{
    background-color: #f4f4f4;
}

.social-login-wrapper .social-login img {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}

.sign-in-help {
    padding: 1rem 0;
    font-size: 0.75rem;
}

@media screen and (min-width: 510px) {

    .form-wrapper {
        width: 510px;
        padding: 2.5rem 3.5rem;
    }

    .full {
        padding: 1rem 0;
        box-sizing: border-box;
    }

    .flex.full {
        justify-content: center;
    }
    
}

@media screen and (min-width: 1280px) {
    
    .content {
        justify-content: flex-start;
    }

    .logo-wrapper {
        display: flex;
        flex-grow: 1;
    }

    .form-wrapper .form-logo,
    .form-wrapper .mb-1 {
        display: none;
    }

}
